/* Prediction.css */
.prediction-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/background_jetbrain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.8);
    z-index: -2;
  }
  
  .prediction-content {
    position: relative;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column; /* Align items vertically in a column */
    justify-content: flex-start;
    gap: 2rem; /* Space between each element */
  }

  .image-meter {
    margin-top: 130px;
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: flex-start; /* Space between the image and the meter */
    align-items: center; /* Align them vertically in the center */
    width: 100%;
  }
  